/*! O'zbek Tlida */
/*? Assalomu alaykum meni bu yasagan maketimda mobile first (yani birinchi bu sayt telefonga to'g'irlanib kod yozilgan). */
/*! Rus Tilida */
/*? Приветствую, эта модель, которую я сделал, в первую очередь мобильна. */
/*! Ingiliz Tilida */
/*? Greetings, this model I made is mobile first. */

/* VARIABLES */

:root {
    --main-white-color: #fff;
    --main-black-color: #000;
    --main-background-color: #FEFCF7;
    --main-grey-color: #83888F;
    --main-dark-cyan: #0E8784;
    --main-dark-gray-cyan: #333D4B;
    --main-pale-prange: #FDD6BA;
}

/* FONTS */

/* FRAUNCES */

/* fraunces-regular - latin */

@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/fraunces-v23-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/fraunces-v23-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-700 - latin */

@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    src: local(""),
        url("../fonts/fraunces-v23-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/fraunces-v23-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-900 - latin */

/* BARLOW */

/* barlow-regular - latin */

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/barlow-v12-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-500 - latin */

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 500;
    src: local(""),
        url("../fonts/barlow-v12-latin-500.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/barlow-v12-latin-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-700 - latin */

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    src: local(""),
        url("../fonts/barlow-v12-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/barlow-v12-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Fraunces", "Arial", sans-serif;
    font-family: "Barlow", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Site Header Start */

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 58px;
}

.site-header__btn {
    background-image: url("../images/burger-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 15px;
    border: none;
    background-color: transparent;
}

.site-nav {
    display: none;
}

.site-nav__link {
    transition: color 0.3s ease;
}

.site-nav__link:hover {
    color: #333D4B;
}

@media only screen and (min-width: 640px) {
    .site-header__logo-mobile {
        width: 236px;
        height: 26px;
    }

    .site-nav {
        display: block;
    }

    .site-header__btn {
        display: none;
    }

    .site-nav__list {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-nav__link {
        font-family: 'Barlow';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
    }

    .site-nav__item:nth-child(2) {
        margin: 0 33px;
    }
}

/* Site Header Finish */

/* Site Main Start */

/* Site Hero Start */

.sitehero__wrapper {
    background-image: url("../images/hero-bg-mbile-img.jpg");
    color: var(--main-white-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 24px;
    border-radius: 10px;
}

.sitehero__title {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FEFCF7;
}

.sitehero__text {
    margin: 0 auto;
    width: 279px;
}

.sitehero__text p {
    margin: 0;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 39px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-main {
    display: inline-block;
    max-width: 217px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 16px;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--main-dark-cyan);
    border-radius: 6px;
    transition: background-color .3s;
    color: var(--main-white-color);
    border: none;
}

.btn-main:hover {
    background-color: #66d2cf;
}

@media only screen and (min-width: 490px) {
    .sitehero__wrapper {
        background-image: url("../images/hero-bg-tablet-img.jpg");
        padding-left: 58px;
    }

    .sitehero__title {
        font-weight: 900;
        font-size: 48px;
        text-align: left;
    }

    .sitehero__text {
        width: 398px;
        margin: 0;
    }

    .sitehero__text p {
        text-align: left;
    }

    .btn-group {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .sitehero__wrapper {
        background-image: url("../images/hero-bg-img.jpg");
        padding-left: 58px;
    }

    .sitehero__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        text-align: left;
    }

    .sitehero__text {
        width: 398px;
        margin: 0;
    }

    .sitehero__text p {
        text-align: left;
    }

    .btn-group {
        display: block;
    }
}

/* Site Hero Finish */

/* Site Main Finish */