/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Variables */

:root {
  --main-text-color: #fff;
  --main-bg-color: #fff;
  --main-font-size: 16px;
  --main-font-weight: 400;
  --main-line-height: 1.5;
}

/* FONTS */

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/barlow-v12-latin-regular.woff') format('woff');
}

/* barlow-500 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2'),
    url('../fonts/barlow-v12-latin-500.woff') format('woff');
}

/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
    url('../fonts/barlow-v12-latin-700.woff') format('woff');
}

/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'),
    url('../fonts/fraunces-v23-latin-900.woff') format('woff');
}

/* General */

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #FEFCF7;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Sticky-Footer */

.site-main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* Header Start */

header {
  position: relative;
  padding: 32px 0 41px 0;
}

.site-header-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-header-part__btn {
  width: 15px;
  height: 16px;
  background-image: url("../images/hamburger-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.sitenav-on {
  display: block;
}

.sitenav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 92px);
  padding-top: 40px;
  background: -o-linear-gradient(bottom, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(254, 252, 247, 0.504981)), color-stop(55.94%, #FEFCF7));
  background: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.sitenav-on .sitenav {
  display: block;
}

.sitenav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  font-family: 'Barlow';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.sitenav__link:hover {
  color: #333D4B;
}

.sitenav-on .site-header-part__btn {
  background-image: url("../images/close-icon.svg");
}

@media only screen and (min-width:700px) {
  .site-header-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .site-logo__img {
    width: 236px;
    height: 26px;
  }

  .site-header-part__btn {
    display: none;
  }

  .sitenav {
    position: static;
    display: block;
    width: 330px;
    height: auto;
    padding-top: 0;
    background: transparent;
  }

  .sitenav__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .sitenav__item:not(:last-child) {
    margin: 0 32px 0 0;
  }

  .sitenav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
  }
}

/* Header Finish */

/* Hero Start */

.hero-part {
  padding: 100px 24px;
  background-image: url("../images/phone-hero-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hero-part__info-box {
  max-width: 279px;
  margin: 0 auto;
}

.hero-part__title {
  margin: 0;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #FEFCF7;
}

.hero-part__text {
  margin: 24px 0 39px 0;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero-part__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-part__link {
  text-align: center;
}

.hero-part__link,
.coffee-part__link {
  padding: 16px 31px 15px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
}

@media only screen and (min-width:375px) {
  .hero-part__text {
    font-size: 15px;
  }

  .hero-part__title {
    font-size: 35px;
  }
}

@media only screen and (min-width:700px) {

  .hero-part {
    padding: 104px 0 103px 58px;
    background-image: url("../images/planshet-hero-bg-img.jpg");
  }

  .hero-part__info-box {
    max-width: 398px;
    margin: 0;
  }

  .hero-part__title-box {
    max-width: 329px;
  }

  .hero-part__title {
    font-size: 40px;
  }

  .hero-part__text-box {
    max-width: 398px;
  }

  .hero-part__title,
  .hero-part__text {
    text-align: left;
  }

  .hero-part__text {
    font-size: 15px;
  }

  .hero-part__link-box {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media only screen and (min-width:1024px) {

  .hero-part {
    padding: 104px 0 103px 58px;
    background-image: url("../images/desktop-second-hero-bg-img.jpg");
  }

  .hero-part__info-box {
    max-width: 493px;
    margin: 0;
  }

  .hero-part__title-box {
    max-width: none;
  }

  .hero-part__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
  }

  .hero-part__text-box {
    max-width: 445px;
  }

  .hero-part__text {
    margin: 32px 0 56px 0;
    font-size: 17px;
    line-height: 26px;
  }

  .hero-part__link:hover {
    background-color: #66D2CF;
  }
}

/* Hero Finish */

/* Collection Start */

#collection {
  padding: 130px 0 120px 0;
  background-image: url("../images/collection-title-img.svg");
  background-repeat: no-repeat;
  background-size: 250px 72px;
  background-position: top 45px center;
}

.collection-list__item {
  margin: 0;
  max-width: 282px;
  text-align: center;
}

.collection-list__item:not(:last-child) {
  margin-bottom: 48px;
}

.collection-list__img {
  margin: 0 auto;
}

.collection-list__title,
.collection-list__text {
  margin: 0;
}

.collection-list__title {
  margin: 24px 0 16px 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.collection-list__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333D4B;
}


@media only screen and (min-width:375px) {
  #collection {
    background-image: url("../images/collection-title-img.svg");
    background-size: 305px 72px;
  }

  .collection-list__item {
    max-width: 315px;
    margin: 0 auto;
    text-align: center;
  }

  .collection-list__text-box {
    max-width: 282px;
    margin: 0 auto;
  }
}

@media only screen and (min-width:425px) {
  #collection {
    background-image: url("../images/collection-title-img.svg");
    background-size: 345px 72px;
  }

  .collection-list__item {
    max-width: 368px;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width:500px) {
  #collection {
    background-image: url("../images/collection-bg-img-desktop.svg");
    background-size: contain;
  }
}

@media only screen and (min-width:700px) {
  #collection {
    padding: 144px 0 129px 0;
    background-image: url("../images/collection-bg-img-desktop.svg");
    background-size: contain;
    background-position: top 65px center;
  }

  .collection-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 640px;
  }

  .collection-list__img {
    margin: 0 36px 0 0;
  }

  .collection-list__title,
  .collection-list__text {
    text-align: left;
  }
}


@media only screen and (min-width:790px) {
  #collection {
    background-image: url("../images/collection-bg-img-desktop.svg");
    background-size: contain;
    background-position: top center;
  }
}

@media only screen and (min-width:1024px) {
  #collection {
    margin-top: 120px;
    padding: 136px 0 188px 0;
    background-image: url("../images/collection-bg-img-desktop.svg");
    background-size: 1111px 196px;
    background-position: top center;
  }

  .collection-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .collection-list__item {
    max-width: 245px;
    margin: 0 30px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .collection-list__item:not(:last-child) {
    margin-bottom: 0px;
  }

  .collection-list__img {
    margin: 0 auto;
  }

  .collection-list__title-box,
  .collection-list__text-box {
    max-width: 255px;
  }

  .collection-list__title,
  .collection-list__text {
    text-align: center;
  }
}

/* Collection Finish */

/* Choose Start */

.choose-part {
  padding: 0px 0 650px 0;
  border-radius: 10px;
}

.choose-part__info-box {
  margin: 0 auto;
  padding: 64px 24px 28px 24px;
  background-color: #2C343E;
}

.choose-part__title {
  margin: 0 0 24px 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #FEFCF7;
}

.choose-part__text-box {
  margin: 0 auto;
  max-width: 212px;
}

.choose-part__text {
  margin: 0;
  font-family: 'Barlow';
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose-part__list-box {
  position: relative;
  padding: 360px 24px 360px 24px;
  background-color: #282F38;
  border-radius: 0 0 10px 10px;
}

.choose-list {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.choose-list__item {
  position: relative;
  max-width: 212px;
  width: 100%;
  margin: 0 auto;
  padding: 200px 34px 51px;
  background-color: #0E8784;
  border-radius: 8px;
}

.choose-list__item::before {
  position: absolute;
  top: 72px;
  left: 70px;
  content: "";
  width: 71px;
  height: 72px;
  margin: 0 auto 56px;
  background-image: url("../images/coffee-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.choose-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.choose-list__item:nth-child(2):before {
  background-image: url("../images/prize-icon.svg");
}

.choose-list__item:nth-child(3):before {
  background-image: url("../images/delivery-icon.svg");
}

.choose-list__title {
  margin: 0 0 24px 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}

.choose-list__text-box {
  margin: 0 auto;
}

.choose-list__text {
  margin: 0;
  font-family: 'Barlow';
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
}

@media only screen and (min-width:375px) {
  .choose-part__title {
    font-size: 28px;
  }

  .choose-part__text-box {
    max-width: 100%;
  }

  .choose-part__list-box {
    padding: 310px 24px 310px 24px;
  }

  .choose-list__item {
    max-width: 279px;
    padding: 200px 34px 51px;
    background-color: #0E8784;
    border-radius: 8px;
  }

  .choose-list__item::before {
    position: absolute;
    top: 72px;
    left: 104px;
  }

  .choose-list__title {
    font-size: 22px;
  }

  .choose-list__text-box {
    margin: 0 auto;
  }
}

@media only screen and (min-width:700px) {
  .choose-part {
    padding: 0;
  }

  .choose-part__title {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .choose-part__text-box {
    max-width: 480px;
  }

  .choose-part__text {
    font-size: 15px;
  }

  .choose-part__list-box {
    background-color: #2C343E;
    padding: 170px 24px 170px 24px;
  }

  .choose-list__item {
    position: relative;
    max-width: 573px;
    width: 100%;
    margin: 0 auto;
    padding: 41px 48px 41px 181px;
    background-color: #0E8784;
    border-radius: 8px;
  }

  .choose-list__item::before {
    position: absolute;
    top: 62px;
    left: 70px;
    width: 55px;
    height: 56px;
  }

  .choose-list__title {
    margin-bottom: 16px;
  }

  .choose-list__text-box {
    max-width: 344px;
    margin: 0 auto;
  }

  .choose-list__title,
  .choose-list__text {
    text-align: left;
  }
}

@media only screen and (min-width:1024px) {
  .choose-part {
    padding: 0;
  }

  .choose-part__text-box {
    max-width: 540px;
  }

  .choose-part__list-box {
    padding: 150px 24px 150px 24px;
  }

  .choose-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 162px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .choose-list__item {
    max-width: 350px;
    margin: 0;
    padding: 200px 48px 48px 47px;
  }

  .choose-list__item:not(:last-child) {
    margin: 0;
    margin-right: 30px;
  }

  .choose-list__item::before {
    width: 72px;
    height: 72px;
    top: 72px;
    left: 135px;
  }

  .choose-list__title,
  .choose-list__text {
    text-align: center;
  }

  .choose-list__text-box {
    max-width: 240px;
  }
}

@media only screen and (min-width: 1200px) {
  .choose-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

/* Choose Finish */

/* How it works Start */

#how-it-works {
  padding-top: 195px;
}

.coffee-part__title {
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #83888F;
}

.coffee-list {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.coffee-list__item {
  max-width: 327px;
}

.coffee-list__item:not(:last-child) {
  margin-bottom: 56px;
}

.coffee-list__item::before {
  display: block;
  width: 95px;
  height: 72px;
  margin: 0 auto 24px auto;
  background-image: url("../images/coffee-list-img-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.coffee-list__item:nth-child(2)::before {
  background-image: url("../images/coffee-list-img-2.svg");
}

.coffee-list__item:nth-child(3)::before {
  background-image: url("../images/coffee-list-img-3.svg");
}

.coffee-list__title {
  margin: 0;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.coffee-list__text-box {
  max-width: 327px;
}

.coffee-list__text {
  margin: 24px 0 0 0;
  font-family: 'Barlow';
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333D4B;
}

.coffee-part__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.coffee-part__link {
  margin-top: 79px;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

.coffee-part__link:hover {
  background-color: #66D2CF;
}

@media only screen and (min-width:375px) {
  #how-it-works {
    padding-top: 75px;
  }

  .coffee-list__text-box {
    max-width: 337px;
  }

  .coffee-list__text {
    margin: 24px 0 0 0;
    font-family: 'Barlow';
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #333D4B;
  }

  .coffee-part__link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .coffee-part__link {
    margin-top: 79px;
  }
}

@media only screen and (min-width:700px) {
  #how-it-works {
    padding-top: 400px;
  }

  .coffee-part__title,
  .coffee-list__title {
    text-align: left;
  }

  .coffee-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 110px;
  }

  .coffee-list::before {
    position: absolute;
    top: -76px;
    left: 0;
    width: 497px;
    height: 31px;
    margin: 0 auto 40px 0;
    background-image: url("../images/how-it-works-map-img.svg");
    background-repeat: no-repeat;
    background-size: 497px 31px;
    content: "";
  }

  .coffee-list__item {
    max-width: 223px;
  }

  .coffee-list__item::before {
    margin: 0 auto 38px 0;
  }

  .coffee-list__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .coffee-list__text-box {
    max-width: 285px;
  }

  .coffee-list__item:nth-child(3) .coffee-list__text-box {
    max-width: 200px;
  }

  .coffee-list__text {
    margin: 39px 0 0 0;
    text-align: left;
  }

  .coffee-part__link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .coffee-part__link {
    margin-top: 44px;
  }
}

@media only screen and (min-width:1320px) {
  #how-it-works {
    padding-top: 312px;
  }

  .coffee-part {
    margin-left: 83px;
  }

  .coffee-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 160px;
  }

  .coffee-list::before {
    position: absolute;
    top: -90px;
    left: 0;
    width: 791px;
    height: 31px;
    margin: 0 auto 40px 0;
    background-image: url("../images/how-it-works-map-img.svg");
    background-repeat: no-repeat;
    background-size: 791px 31px;
    content: "";
  }

  .coffee-list__item {
    max-width: 100%;
  }

  .coffee-list__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 95px;
  }

  .coffee-list__title {
    font-size: 32px;
    line-height: 36px;
    text-align: left;
  }

  .coffee-list__title-box {
    max-width: 255px;
  }

  .coffee-list__item:nth-child(3) .coffee-list__text-box {
    max-width: 268px;
  }

  .coffee-list__text-box {
    max-width: 268px;
  }

  .coffee-list__text {
    margin: 39px 0 0 0;
    text-align: left;
  }

  .coffee-part__link {
    margin-top: 64px;
  }
}

/* Site How it works Finish */

/* Site Footer Start */

#site-footer {
  margin: 120px 0 0px 0;
  padding-bottom: 88px;
}

.footer-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 54px 55px;
  background-color: #2C343E;
}

.footer-part__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 49px 0;
}

.footer-part__item:not(:last-child) {
  margin-bottom: 24px;
}

.footer-part__link {
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-align: center;
  color: #83888F;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.footer-part__link:hover {
  color: #FEFCF7;
}

.footer-part__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-part__social-item:not(:last-child) {
  margin-right: 24px;
}

@media only screen and (min-width:700px) {
  .footer-part__link-img {
    width: 236px;
    height: 26px;
  }

  .footer-part__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 32px 0 65px 0;
  }

  .footer-part__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

@media only screen and (min-width:1100px) {
  .footer-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 47px 85px;
    background-color: #2C343E;
  }

  .footer-part__list {
    margin: 0 auto 0 102px;
  }

  .footer-part__social-link-img path {
    -webkit-transition: fill .5s;
    -o-transition: fill .5s;
    transition: fill .5s;
  }

  .footer-part__social-link:hover .footer-part__social-link-img path {
    fill: #FDD6BA;
    ;
  }
}

/* Site Footer Finish */

/* Site Home page finish */

/* Site About Page Start */

/* Site Intro Start */

.intro__inner {
  background-image: url("../images/about-hero-bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 0 24px;
  padding-top: 111px;
  padding-bottom: 87px;
  color: #FEFCF7;
  text-align: center;
}

.intro__title {
  font-family: 'Fraunces';
  font-size: 28px;
}

.intro__text {
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media only screen and (min-width: 700px) {
  .intro__inner {
    background-image: url("../images/about-hero-bg-img-tablet.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 118px 58px;
    color: #FEFCF7;
    text-align: left;
  }

  .intro__title {
    font-size: 32px;
  }

  .intro__text {
    width: 420px;
    font-size: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 1024px) {
  .intro__inner {
    background-image: url("../images/about-hero-bg-img-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 137px 85px;
    color: #FEFCF7;
    text-align: left;
  }

  .intro__title {
    font-size: 40px;
  }

  .intro__text {
    width: 420px;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

/* Site Intro Finish */

/* Site Commited Start */

.commited__img-box {
  margin-top: 120px;
}

.commited__img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}

.commited__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 48px;
  text-align: center;
  color: #333D4B;
}

.commited__text {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  color: #333D4B;
  opacity: 0.8;
}

@media only screen and (min-width: 375px) {
  .commited__title {
    font-size: 32px;
  }

  .commited__text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .commited__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .commited__img {
    background-image: url('../images/man-coffee-img-tablet.jpg');
    width: 281px;
    height: 450px;
  }

  .commited__desc {
    margin-left: 69px;
    margin-top: 100px;
  }

  .commited__title {
    text-align: left;
  }

  .commited__text {
    width: 339px;
  }
}

@media only screen and (min-width: 900px) {
  .commited__img {
    background-image: url('../images/man-coffee-img-tablet.jpg');
    width: 370px;
    height: 470px;
  }

  .commited__text {
    width: 400px;
  }
}

@media only screen and (min-width: 1140px) {
  .commited__img {
    background-image: url('../images/man-coffee-img-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 445px;
    height: 520px;
  }

  .commited__desc {
    margin-left: 125px;
  }

  .commited__text {
    width: 540px;
    font-size: 16px;
  }
}

/* Site Commited Finish */

/* Site Quality Start */

.quality {
  margin-top: 198px;
  position: relative;
}

.quality__box {
  background: #2C343E;
  border-radius: 10px;
  color: #FEFCF7;
  padding: 0 24px;
  padding-bottom: 61px;
  padding-top: 122px;
}

.quality__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quality__img {
  position: absolute;
  top: -55px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 213px;
}

.quality__title {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FEFCF7;
}

.quality__text {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  color: #FEFCF7;
  opacity: 0.8;
}

@media only screen and (min-width: 450px) {
  .quality__img {
    width: 279px;
    height: 156px;
  }

  .quality__title {
    font-size: 28px;
  }
}

@media only screen and (min-width: 650px) {
  .quality__box {
    padding: 0 74px;
    padding-top: 200px;
    padding-bottom: 67px;
  }

  .quality__img {
    top: -140px;
    background-image: url("../images/cup-of-coffee-img-tablet.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 300px;
    border-radius: 10px;
  }

  .quality__title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 767px) {
  .quality__box {
    padding: 0 74px;
    padding-top: 200px;
    padding-bottom: 67px;
  }

  .quality__img {
    top: -140px;
    background-image: url("../images/cup-of-coffee-img-tablet.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 573px;
    height: 320px;
    border-radius: 10px;
  }

  .quality__title {
    font-size: 32px;
  }

  .quality__text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .quality__inner {
    position: static;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .quality__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 85px;
    padding-top: 88px;
    padding-bottom: 176px;
  }

  .quality__desc {
    width: 540px;
  }

  .quality__img {
    top: -80px;
    background-image: url("../images/cup-of-coffee-img-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 445px;
    height: 474px;
    border-radius: 10px;
    margin-left: -340px;
  }

  .quality__title {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1300px) {
  .quality__img {
    top: -80px;
    background-image: url("../images/cup-of-coffee-img-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 445px;
    height: 474px;
    border-radius: 10px;
    margin-left: -450px;
  }
}

/* Site Quality Finish */

/* Headquarter Start */

#headquarter {
  padding-top: 120px;
}

.headquarter-part__title {
  margin: 0 0 72px 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #83888F;
}

.headquarter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.headquarter-list__item {
  max-width: 327px;
  margin: 0 auto;
  text-align: center;
}

.headquarter-list__item:not(:last-child) {
  margin-bottom: 80px;
}

.headquarter-list__item::before {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 47px auto;
  background-image: url("../images/icon-uk-country.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.headquarter-list__item:nth-child(2):before {
  background-image: url("../images/icon-canada-country.svg");
}

.headquarter-list__item:nth-child(3):before {
  background-image: url("../images/icon-australia-country.svg");
}

.headquarter-list__title {
  margin: 0 0 22px 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  color: #333D4B
}

.headquarter-list__address-link,
.headquarter-list__tel-link {
  font-family: 'Barlow';
  line-height: 26px;
  color: #333D4B;
}

@media only screen and (min-width:800px) {
  #headquarter {
    padding-top: 144px;
  }

  .headquarter-part__title {
    text-align: left;
  }

  .headquarter-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .headquarter-list__item {
    max-width: 223px;
    margin: 0;
    text-align: left;
  }

  .headquarter-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .headquarter-list__item::before {
    margin: 0 auto 47px 0;
  }

  .headquarter-list__title {
    margin: 0 0 22px 0;
    font-size: 24px;
  }

  .headquarter-list__address-link,
  .headquarter-list__tel-link {
    line-height: 26px;
  }
}

@media only screen and (min-width:1024px) {
  .headquarter-part {
    margin-left: 95px;
  }

  .headquarter-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .headquarter-list__item {
    margin-right: 95px;
  }
}

/* Headquarter Finish */

/* Site About Page Finish */

/* Site  Plan Page Start */

/* Site Hero Start */

.intro__inner--plan {
  background-image: url("../images/plan-hero-bg-img-phone.jpg");
}

@media only screen and (min-width: 700px) {
  .intro__inner--plan {
    background-image: url("../images/plan-hero-bg-img-tablet.jpg");
  }
}

@media only screen and (min-width: 1024px) {
  .intro__inner--plan {
    background-image: url("../images/plan-hero-bg-img-desktop.jpg");
  }
}

/* Site Hero Finish */

/* Plan Details Start */

#accardion {
  padding-top: 120px;
}

.table-list {
  display: none;
  width: 255px;
}

.table-list__item {
  display: flex;
  padding: 24px 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #ACAFB2;
  border-bottom: 1px solid #83888F;
}

.table-list__item:nth-child(1) {
  padding-top: 0;
}

.table-list__link {
  color: #ACAFB2;
  margin-left: 28px;
}

.table-list__item:hover span {
  color: #0E8784;
}

.table-list__item:hover .table-list__link {
  color: #333D4B
}

.accardion-part__list,
.table-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accardion-list {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
}

.accardion-list__details-title img {
  transition: transform .5s;
}

.accardion-list__details[open] .accardion-list__details-title img {
  transform: rotate(180deg);
}

.accardion-list__details-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 240px; */
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #83888F;
  list-style: none;
  padding: 32px 0;
  margin: 12px 0;
  cursor: pointer;
}

.accardion-list__item:nth-child(1) .accardion-list__details-title {
  padding: 0 0 32px 0;
  margin: 0 0 12px 0;
}

.accardion-info-box__text-box {
  width: 100%;
  /* max-width: 278px; */
  display: inline-block;
  padding: 24px 25px;
  background-color: #F4F1EB;
  border-radius: 8px;
  transition: all .5s;
}

.accardion-info-box:not(:last-child) {
  margin-bottom: 16px;
}

.accardion-info-box__text-box:hover {
  background-color: #FDD6B9;
}

.accardion-info-box__title {
  display: block;
  margin-bottom: 8px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.accardion-info-box__text {
  font-family: 'Barlow';
  line-height: 26px;
  color: #333D4B;
}

.accardion-info-box input:checked+.accardion-info-box__text-box {
  background-color: #0E8784;
}

.accardion-info-box input:checked+.accardion-info-box__text-box * {
  color: #fff;
}

.order-box {
  max-width: 730px;
  margin: 120px auto 0 auto;
  padding: 32px 24px;
  background-color: #293039;
  border-radius: 10px;
}

.order-box__title {
  margin: 0 0 8px 0;
  font-family: 'Barlow';
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.order-box__text,
.modal-part__text {
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.order-box__text-main,
.modal-part__text-main {
  color: #0E8784;
}

.accardion-part__btn-box {
  display: flex;
  justify-content: center;
  margin-top: 56px;
}

.accardion-part__btn {
  padding: 15px 35px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
  border: none;
  transition: all .5s;
}

.accardion-part__btn:hover {
  opacity: 0.6;
}

@media only screen and (min-width:700px) {
  .accardion-info-list {
    display: flex;
    justify-content: space-between;
  }

  .accardion-list__details-title {
    font-size: 32px;
    line-height: 48px;
  }

  .accardion-info-box__text-box {
    padding: 32px 26px 84px 25px;
    max-width: 233px;
  }

  .accardion-info-box:not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .accardion-list__item:not(:last-child) {
    margin-bottom: 88px;
  }

  .accardion-list__details-title {
    padding: 0 0;
    margin: 0 0;
  }

  .accardion-list__item:nth-child(1) .accardion-list__details-title {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .accardion-info-list {
    margin-top: 40px;
  }

  .order-box {
    padding: 27px 44px;
  }

  .accardion-part__btn-box {
    margin-bottom: 24px;
  }

}

@media only screen and (min-width:1100px) {
  #accardion {
    padding-top: 168px;
  }

  .accardion-part {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .table-list {
    display: block;
  }

  .accardion-list {
    margin: 0 0 0 auto;
  }

  .accardion-part__btn-box {
    justify-content: flex-end;
    margin-bottom: 48px;
  }

  .accardion-info-list {
    margin-top: 56px;
  }

  .order-box {
    padding: 27px 64px;
  }
}

/* Plan Details Finish */

/* Modal Start */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a6;
}

.modal-on {
  display: block;
}

.modal-part {
  position: relative;
  top: 5%;
  max-width: 327px;
  /* margin: 0 50px;   */
  margin: 0 auto;
  background-color: #fff;
}

.modal-part__title-box {
  padding: 28px 24px;
  background-color: #2F3844;
}

.modal-part__title {
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
}

.modal-part__text-box {
  padding: 40px 24px 24px;
}

.modal-part__text {
  color: #83888F;
}

.modal-part__info-text {
  margin: 0;
  font-family: 'Barlow';
  font-size: 15px;
  line-height: 25px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.modal-part__link-box {
  margin-top: 24px;
}

.modal-part-link,
.modal-part__desktop-link {
  padding: 16px 31px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  background-color: #0E8784;
  border-radius: 6px;
}

.modal-part__desktop-box {
  display: none;
  align-items: center;
}

.modal-part__desktop-price {
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.modal-part__desktop-link {
  padding: 15px 64px;
  border: none;
}

@media only screen and (min-width:600px) {
  .modal-part {
    max-width: 540px;
  }

  .modal-part__phone-box {
    display: none;
  }

  .modal-part__desktop-box {
    display: flex;
    justify-content: space-between;
  }
}

/* Modal Finish */

/* Site  Plan Page Finish */